* {
    box-sizing: border-box;
    margin: 0;
    background: #F1F6F9;
    font-family: 'Nunito', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

img {
    padding-top: 20px;
}

.img-ori, .img-compressed {
    text-align: center;
}