<!DOCTYPE html>
<html>
<head>
    <title>Image Compression</title>
    <link rel="stylesheet" href="./static/style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-page">
        <h1>Website Image Processing & Compression</h1>
    </div>
    <div class="content">
        <div class="img-compress">
            <h2>Image Compression</h2>
            <form action="/compress" method="POST" enctype="multipart/form-data">
                <input id="file" type="file" name="image" accept="image/*">
                <input id="submit" type="submit" value="Compress">
            </form>
        </div>
        <div class="img-process">
            <h2>Image Processing</h2>
            <form action="/process" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*">
                <input id="submit" type="submit" value="Process">
            </form>
        </div>
    </div>
</body>
</html>