* {
    box-sizing: border-box;
    margin: 0;
    background: #394867;
    font-family: 'Nunito', sans-serif;
}

.top-page {
    height: 220px;
    background-color: #F1F6F9;
}

.top-page h1 {
    background-color: #F1F6F9;
    text-align: center;
    padding-top: 80px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding-top: 100px;
}

.audio-compress {
    text-align: center;
    padding: 50px;
    padding-top: 35px;
    background-color: #F1F6F9;
}

.audio-compress h2, .audio-compress input {
    background-color: #F1F6F9;
}

.audio-compress form {
    padding-top: 75px;
    background-color: #F1F6F9;
}

.audio-process {
    text-align: center;
    padding: 50px;
    padding-top: 35px;
    background-color: #F1F6F9;
}

.audio-process h2, .audio-process input {
    background-color: #F1F6F9;
}

.audio-process form {
    padding-top: 75px;
    background-color: #F1F6F9;
}

#submit {
    background-color: #394867;
    color: whitesmoke;
    width: 80px;
    height: 25px;
    border-radius: 5px;
}

#submit:hover {
    background-color: #586d97;
    cursor: pointer;
}