* {
    box-sizing: border-box;
    margin: 0;
    background: #F1F6F9;
    font-family: 'Nunito', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

audio {
    height: 80px;
}

.audio-ori, .audio-processed {
    text-align: center;
    padding: 50px;
    padding-top: 35px;
    background-color: #394867;
}

.audio-processed h2, 
.audio-processed audio,
.audio-ori h2,
.audio-ori audio {
    background-color: #394867;
    color: whitesmoke;
}